body {
  margin: 40px auto;
  max-width: 600px;
  line-height: 1.6;
  font-size: 18px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  padding: 0;
  background-color: rosybrown;
}

h5 {
  margin: auto 0;
}

.appbox {
  border: 5px solid red;
  border-radius: 5px;
  background-color: aquamarine;
}

.todoItem {
  border: 2px solid black;
  border-radius: 5px;
}

.btn {
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 1px;
}
